{% extends 'base.html.twig' %}
{% block body %}
<div class="py-12 mt-10">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-16">
          <div class="max-w-xl">
          {{include('dashboard/_update_profile_information_form.html.twig')}}
          </div>
        </div>

        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-16">
          <div class="max-w-xl">
          {{include('dashboard/_update_profile_image_form.html.twig')}}
          </div>
        </div>

        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-16">
          <div class="max-w-xl">
          {{ include('dashboard/_update_password_form.html.twig') }}
          </div>
        </div>

        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-16">
          <div class="max-w-xl">{{ include('dashboard/_delete_user_form.html.twig') }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
